/AOP/aop-step-2/.nb-gradle/
/Gradle/fxlauncher-javafx-example/.nb-gradle/
/Gradle/MainApp/nbproject/private/
/Gradle/jfx-example/build/
/Gradle/jfx-example/.nb-gradle/
/Gradle/fxlauncher-javafx-example/build/
/Modules/NbModularApplication/nbproject/private/